{% extends 'base.html' %}
{% block title%}Login{% endblock title %}

{% block content %}
    <div class="header-bar">
        <h1>Ticketing System LogIn</h1>
    </div>

    <div class="card-body">
        <form method="POST">
            {% csrf_token %}
            {{ form.errors }}
            <p>
                {{ form.email.label }}
                {{ form.email }}
            </p>

            <p>
                {{ form.password.label }}
                {{ form.password }}
            </p>


            <input class="button" type="submit" value="Login">
        </form>

        <p>
            <div>
            <a href="">Forgot Password?</a>
            </div>

            Don't have an account?
            <a href="{% url 'auth:register' %}">Register</a>
        </p>

    </div>
{% endblock content%}